*{
    font-family:'Inter', sans-serif ;
}
.about{
    background-color: rgb(6, 14, 21);
    color:white;
    padding: 50px 200px 30px 170px;
   
    display: flex;
    flex-direction: column;
    gap: 25px;
    h1{
        display: flex;
        align-items: center;
        gap: 10px;
        border : 1px solid rgb(20, 40, 54);
        padding: 10px 20px;
        width: fit-content;
        border-radius: 50px;
        font-size: 15px;
        .dot{
            height:7px;
            width:7px;
            background-color: aqua;
            border-radius:50% ;
        }
    }
    h2{
       font-size: 35px; 
    }
    .content{
        display: flex;
        gap: 90px;
        .left{
            display: flex;
            flex-direction: column;
            gap:20px;
            p{
                font-family: 'Inter', sans-serif;
                width: 550px;
                font-size: 20px;
                text-align: justify;
                color: rgb(133, 131, 131);
            }
            div{
                font-size: 15px;
                margin-top: 20px;
                color: rgb(133, 131, 131);
                i{
                    color:aqua;
                }
            }
        }
        .right{
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            .box{
                border: 1.5px solid rgb(20, 40, 54);
                text-align: center;
                padding-top: 10px;
                height: 100px;
                width:170px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                background-color: rgb(13, 26, 35);
                h2{
                    font-size: 25px;
                    color: aqua;
                }
            }

        }
    }
}