

.education{
    background-color: rgb(6, 14, 21);
    color:white;
    padding: 50px 200px 30px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1{
        display: flex;
        align-items: center;
        gap: 10px;
        box-shadow: 0 0 1px lightblue;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 50px;
        font-size: 15px;
        .dot{
            height: 7px;
            width:7px;
            background-color: aqua;
            border-radius:50% ;
        }
    }
    h2{
        font-size: 32px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 1100px;
        .card{
            border: 2px solid rgb(20, 40, 54);
            padding:20px 40px;
            display: flex;
            gap:20px;
            border-radius: 20px;
            background-color: rgb(13, 26, 35)   ;
            .left{
                font-size: 19px;
                padding: 8px;
                box-shadow:  0 0 2px grey;
                border-radius: 12px;
                height: fit-content;
                color: aqua;
                background-color: rgb(60, 92, 92);
            }
            .right{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 17px;
                    color:grey
                }
                .colname{
                    color: aqua;
                }
            }
        }
    }
}