

.experience{
    background-color: rgb(6, 14, 21);
    color:white;
    padding: 50px 200px 30px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1{
        display: flex;
        align-items: center;
        gap: 10px;
        box-shadow: 0 0 1px lightblue;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 50px;
        font-size: 15px;
        .dot{
            height: 7px;
            width:7px;
            background-color: aqua;
            border-radius:50% ;
        }
    }
    h2{
        font-size: 32px;
    }
    .contents{
        display: flex;
        .line{
            width: 50px;
            display: flex;
            .line1{
                width:1px;
                height:202px;
                background-color: aqua;
                position: absolute;
                left:179px;
                margin-top: 7px;
            }
            i{
                z-index: 1;
                margin-top: 26px;
                font-size: 15px;
            }
        }
        .content{
            border: 2px solid rgb(20, 40, 54);
            width: 980px;
            padding: 20px 30px;
            border-radius: 20px;
            background-color: rgb(13, 26, 35);
            div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 15px;
                    color: grey;
                }
            }
            .cname{
                font-size: 17px;
                color: aqua;
            }
            .techLearn{
                font-size: 14px;
                column-rule: grey;
                margin-top: 3px;
                margin-bottom: 13px;
                color:grey;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 7px;
                font-size: 18px;
                margin-left: 20px;
                color: grey;
            }
        }
    }
}