

.home{
    background-color: rgb(6, 14, 21);
    color: white;
    padding: 50px 200px 30px 170px;
    display:flex;
    justify-content: space-between;
    .right{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .introduction{
            font-size: 20px;
            display: flex;
            flex-direction: column;
            gap:10px;
            p{
                color: rgb(133, 131, 131);
                padding-right: 130px;
                text-align: justify;
            }
            .one{
                font-size: 35px;
            }
            .two{
                font-size: 50px;
                color: aqua;
            }
            .three{
                font-size: 35px;
            }
        }
        .first{
            display: flex;
            gap: 60px;
            padding-left: 40px;
            .rp{
                background-color: rgb(13, 26, 35);
                padding: 10px;
                border-radius: 20px;
                border:1px solid rgb(20, 40, 54);
            }
            .rp:hover{
                box-shadow: 0 0 10px rgb(20, 40, 54);
            }
        }
        .second{
            display: flex;
            gap: 60px;
            padding-left: 130px;
            font-size: 20px;
            .rlm{
                padding: 5px;
                background-color: rgb(13, 26, 35);
                border-radius: 50%;
                border:1px solid rgb(20, 40, 54);
            }
            .rlm:hover{
                box-shadow: 0 0 10px rgb(20, 40, 54);
            }
        }
    }
    .left{
        .photo{
            padding-top: 40px;
           
            .profile_p{
                border-radius: 20px;
                box-shadow: 0 0 20px rgb(14, 63, 107);
                height: 380px;
                width:280px;
            }
            .profile_p:hover{
                scale:1.05;
            }
        }
    }
    a{
        color: white;
        text-decoration: none;
    }
}