*{
    margin: 0;
    padding: 0;
}
.navbar{
    display:flex;
    /* background-color:  rgb(6, 14, 21); */
     background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
    justify-content: space-between;
    padding:15px 100px 20px 120px;
    align-items: center;
    border-bottom: 1px solid grey;
    z-index: 2;
    .logo{
        font-size: 30px;
        color: aqua;
        margin-top: 10px;
        div{
            width:120px;
        }
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        
    }

    .nav-links{
        display:flex;
        justify-content: space-between;
        width: 100%;
        margin-left:7%;
        margin-right: 7%;
        margin-top: 15px;
        
        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;
            a{
                font-size: 20px;
                font-weight: lighter;
            }
            .under{
                height: 3px;
                border-radius: 20px;
                background-color: aqua;
                visibility: hidden;
            }
        }
        li:hover{
            .under{
                visibility: visible;
            }
        }
    }
    .nav-right{
        display: flex;
        gap: 10px;
        align-items: center;
        .theme-btn{
            font-size: 20px;
            margin-top: 5px;
            border-radius: 50%;
            padding: 3px;
            border:2px solid black;
        }
        .theme-btn:hover{
            cursor: pointer;
        }
        .lt{
            background-color: aqua;
            font-size: 15px;
            width:70px;
            padding: 5px 5px;
            border-radius: 10px;
            font-weight: bold;
            margin-top: 7px;
            color: black;
        }
        .lt:hover{
            text-decoration: none;
        }
    }

}